/* --- Main --- */
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

/* ------------
  Utilities
------------ */
@import './utilites/mixins';
@import './utilites/color';
@import './utilites/font';

/* ------------
  Containers & Components
------------ */
@import '../layouts/layout';
@import '../containers/style/header';
