// https://www.blobmaker.app/
@keyframes blob {
  0% {
    d: path(
      'M43.6,-76.8C56.7,-68,67.5,-56.6,75.9,-43.4C84.4,-30.1,90.5,-15.1,90.3,-0.1C90,14.8,83.4,29.6,75.2,43.2C67,56.9,57.2,69.4,44.4,76.8C31.6,84.1,15.8,86.2,0.3,85.6C-15.1,85,-30.2,81.8,-43.1,74.5C-55.9,67.2,-66.6,55.9,-75.2,42.8C-83.8,29.7,-90.4,14.9,-91.2,-0.5C-92.1,-15.8,-87.1,-31.6,-78.5,-44.8C-69.9,-57.9,-57.7,-68.3,-44,-76.7C-30.3,-85.1,-15.2,-91.4,0.1,-91.6C15.3,-91.7,30.6,-85.6,43.6,-76.8Z'
    );
  }
  10% {
    d: path(
      'M43.7,-75.4C55.7,-68.9,63.7,-55.1,69.4,-41.4C75.1,-27.6,78.4,-13.8,79.3,0.5C80.2,14.8,78.6,29.7,72.9,43.4C67.2,57.1,57.4,69.7,44.5,75.1C31.7,80.5,15.8,78.7,-0.1,79C-16.1,79.2,-32.3,81.5,-44.6,75.8C-57,70.1,-65.5,56.5,-71,42.5C-76.5,28.5,-79,14.3,-79.3,-0.2C-79.6,-14.6,-77.9,-29.3,-71.5,-41.7C-65.1,-54.2,-54.1,-64.4,-41.4,-70.5C-28.7,-76.6,-14.4,-78.5,0.8,-79.8C15.9,-81.2,31.8,-81.9,43.7,-75.4Z'
    );
  }
  20% {
    d: path(
      'M45.5,-79C58.5,-71.2,68.4,-58.2,76.7,-44.2C84.9,-30.1,91.6,-15.1,89.4,-1.3C87.1,12.5,76.1,25,67.3,38.2C58.5,51.3,52,65,41.1,72.4C30.3,79.7,15.1,80.8,0.8,79.3C-13.5,77.9,-27,74,-40.7,68.2C-54.4,62.5,-68.3,55,-74.8,43.3C-81.3,31.6,-80.4,15.8,-78.3,1.2C-76.3,-13.5,-73.2,-27,-67.1,-39.3C-61,-51.7,-51.9,-62.9,-40.2,-71.5C-28.5,-80.1,-14.3,-86,1,-87.7C16.2,-89.4,32.4,-86.8,45.5,-79Z'
    );
  }
  30% {
    d: path(
      'M43.4,-74.6C57.5,-67.1,71.1,-58,80.4,-45.3C89.7,-32.6,94.7,-16.3,94.5,-0.1C94.2,16,88.8,32,79.8,45.3C70.8,58.5,58.3,69,44.5,76.2C30.6,83.4,15.3,87.3,-0.3,87.8C-15.9,88.3,-31.8,85.4,-45.4,78.1C-59,70.8,-70.5,59,-78.6,45.3C-86.7,31.5,-91.5,15.8,-91.5,0C-91.5,-15.8,-86.7,-31.5,-78.9,-45.8C-71.1,-60.1,-60.3,-73,-46.7,-80.8C-33,-88.6,-16.5,-91.4,-0.9,-89.8C14.7,-88.2,29.3,-82.2,43.4,-74.6Z'
    );
  }
  40% {
    d: path(
      'M42.9,-72C56.4,-66.4,68.8,-56.7,76.2,-44C83.6,-31.3,86,-15.6,83.3,-1.6C80.6,12.5,72.8,25,65.7,38.3C58.7,51.6,52.4,65.7,41.6,73C30.7,80.4,15.4,80.9,1.3,78.6C-12.8,76.4,-25.6,71.4,-36.5,64.2C-47.5,57,-56.7,47.5,-62.9,36.4C-69.1,25.3,-72.4,12.7,-75.4,-1.7C-78.4,-16.1,-81.1,-32.3,-76.8,-46.6C-72.4,-60.9,-61,-73.3,-47,-78.7C-33,-84,-16.5,-82.2,-0.9,-80.6C14.7,-79,29.3,-77.6,42.9,-72Z'
    );
  }
  50% {
    d: path(
      'M41,-70.4C54.5,-63.3,67.6,-54.9,75,-43C82.4,-31,84.1,-15.5,82.3,-1.1C80.4,13.4,75.1,26.8,68.3,39.9C61.6,53,53.4,65.7,41.8,74.1C30.2,82.5,15.1,86.6,0.4,85.9C-14.3,85.2,-28.5,79.7,-39.5,70.9C-50.5,62.1,-58.3,50.1,-64.4,37.8C-70.6,25.4,-75.1,12.7,-76.9,-1C-78.7,-14.8,-77.8,-29.6,-72.8,-44C-67.9,-58.4,-58.8,-72.3,-46,-79.8C-33.2,-87.2,-16.6,-88.1,-1.4,-85.6C13.8,-83.2,27.6,-77.4,41,-70.4Z'
    );
  }
  60% {
    d: path(
      'M44,-76.6C58,-68.1,71,-58.3,79.3,-45.3C87.5,-32.3,91,-16.2,90.5,-0.3C90.1,15.7,85.8,31.3,77.4,44.2C69.1,57,56.8,67,43.2,74.8C29.6,82.5,14.8,88,-0.8,89.4C-16.4,90.8,-32.9,88.1,-46.7,80.5C-60.4,72.9,-71.6,60.3,-78.7,46.1C-85.8,31.8,-88.8,15.9,-88.3,0.3C-87.9,-15.4,-83.8,-30.7,-76.3,-44.2C-68.8,-57.6,-57.7,-69.2,-44.4,-78.1C-31.1,-87,-15.5,-93.2,-0.3,-92.7C15,-92.2,30,-85.1,44,-76.6Z'
    );
  }
  70% {
    d: path(
      'M43.4,-75.5C56.1,-67.9,66,-55.9,74.5,-42.5C83,-29.2,90.2,-14.6,91,0.5C91.8,15.5,86.2,31.1,78,44.9C69.8,58.7,58.8,70.8,45.4,79.3C31.9,87.8,16,92.7,-0.3,93.1C-16.5,93.6,-32.9,89.6,-46.1,80.9C-59.2,72.2,-68.9,58.8,-76.7,44.6C-84.4,30.3,-90.2,15.1,-90.8,-0.3C-91.3,-15.8,-86.7,-31.6,-78.6,-45.2C-70.4,-58.8,-58.7,-70.1,-45,-77.1C-31.4,-84.2,-15.7,-86.8,-0.1,-86.6C15.4,-86.4,30.8,-83.2,43.4,-75.5Z'
    );
  }
  80% {
    d: path(
      'M42.5,-73.6C55.7,-66,67.5,-55.9,76.2,-43.2C84.8,-30.5,90.2,-15.3,90.5,0.2C90.7,15.6,85.8,31.2,78.1,45.4C70.4,59.7,59.9,72.7,46.5,80.8C33,88.9,16.5,92.2,0.7,91C-15.2,89.9,-30.3,84.3,-43.4,76C-56.6,67.7,-67.7,56.6,-75.5,43.4C-83.4,30.3,-88,15.2,-87.9,0C-87.8,-15.1,-83,-30.1,-75.5,-43.9C-68,-57.6,-57.8,-70,-44.8,-77.8C-31.7,-85.5,-15.9,-88.5,-0.6,-87.4C14.6,-86.4,29.3,-81.2,42.5,-73.6Z'
    );
  }
  90% {
    d: path(
      'M46.1,-78.8C60.2,-71.7,72.4,-60.2,79.7,-46.4C87,-32.5,89.4,-16.3,89.4,0C89.5,16.4,87.3,32.7,79.6,46C72,59.3,59,69.5,44.9,76.5C30.7,83.5,15.3,87.3,-0.3,87.9C-16,88.5,-32.1,85.9,-45.4,78.4C-58.8,70.9,-69.4,58.6,-77.4,44.7C-85.3,30.8,-90.5,15.4,-90.3,0.1C-90,-15.1,-84.4,-30.3,-76.4,-44.2C-68.5,-58,-58.3,-70.6,-45.2,-78.3C-32,-86,-16,-88.7,0,-88.6C16,-88.6,32,-85.8,46.1,-78.8Z'
    );
  }
  100% {
    d: path(
      'M43.6,-76.8C56.7,-68,67.5,-56.6,75.9,-43.4C84.4,-30.1,90.5,-15.1,90.3,-0.1C90,14.8,83.4,29.6,75.2,43.2C67,56.9,57.2,69.4,44.4,76.8C31.6,84.1,15.8,86.2,0.3,85.6C-15.1,85,-30.2,81.8,-43.1,74.5C-55.9,67.2,-66.6,55.9,-75.2,42.8C-83.8,29.7,-90.4,14.9,-91.2,-0.5C-92.1,-15.8,-87.1,-31.6,-78.5,-44.8C-69.9,-57.9,-57.7,-68.3,-44,-76.7C-30.3,-85.1,-15.2,-91.4,0.1,-91.6C15.3,-91.7,30.6,-85.6,43.6,-76.8Z'
    );
  }
}
