.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 calcRem(45px) calcRem(20px);

  section {
    @include flex(row, flex-end);
    position: relative;
  }

  // - footer__contact
  &__contact {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    transform: translateX(-40%);

    // -- footer__contact-background
    &-background {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
    }

    &-button {
      cursor: pointer;

      // --- footer__contact-button--close
      &--close {
        display: inline-block;
        position: absolute;
        bottom: 32rem;
        right: 18%;
        padding: calcRem(5px);
        img {
          display: block;
          width: 100%;
        }
      }
      // --- footer__contact-button--open
      &--open {
        position: absolute;
        bottom: 0;
        right: 17%;
        transform: translate(50%, 0);
        @include flex(row, center, flex-start);
        color: white;
        font-size: calcRem(16px);
        span {
          @include font-cormorant(600);
          color: $white;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translate(-80%, 20%);
        }
      }
    }
  }

  .blob {
    position: absolute;
    bottom: 0;
    cursor: default;
    g {
      transform: translate(50%, 62%);
      path {
        animation: blob 28s cubic-bezier(.59,.23,.53,.93) infinite;
        fill: rgba(0, 0, 0, 0.99);
      }
    }
  }

  // - footer__form
  &__form {
    position: absolute;
    bottom: calcRem(60px);
    right: 20%;
    width: calcRem(600px);
    z-index: 1;

    &__name {
      @include flex(row, flex-start, center);
      margin-bottom: calcRem(60px);      
      svg {
        width: calcRem(150px);
      }
    }

    &__email {
      @include flex(row, flex-start, center);
      margin-bottom: calcRem(60px);
      svg {
        width: calcRem(150px);
      }
    }

    &__message {
      @include flex(row, flex-start, flex-start);
      margin-bottom: calcRem(60px);
      svg {
        width: calcRem(240px);
      }
    }

    svg {
      display: block;
    }

    &__send {
      @include flex(row, flex-end, center);
      width: 100%;
    }

    label {
      font-size: calcRem(30px);
      width: 100%;
      color: $white;
    }

    input {
      margin-left: calcRem(5px);
      padding-left: calcRem(10px);
      width: 100%;
      border: none;
      background-color: transparent;
      outline: 0;
      font-size: inherit;
      color: $white;
      caret-color: $white;
      // @include font-cormorant(600);
    }

    textarea {
      margin-top: calcRem(7px);
      margin-left: calcRem(5px);
      padding-left: calcRem(10px);
      resize: none;
      width: 100%;
      border: none;
      background-color: transparent;
      outline: 0;
      font-size: 30px;
      color: $white;
      caret-color: $white;
      // @include font-cormorant(600);
    }

    button {
      @include flex(row, center, center);
      font-size: calcRem(50px);
      @include lineHeight(50px, 59px);
      border: none;
      background-color: transparent;
      position: relative;
      color: $white;
      cursor: pointer;

      img {
        &:first-of-type {
          margin-left: calcRem(12px);
        }
        &:last-of-type {
          margin-left: calcRem(-5px);
        }
      }
    }
  }

  &__language {
    @include font-cormorant(600);
    &-eng {
      margin-right: calcRem(5px);
      color: $black;
    }

    &-kr {
      margin-left: calcRem(5px);
      color: $text-gray;
    }
  }
}
