.header {
  /* -- Navigation -- */
  .nav {
    // @include max-width;
    @include flex(row, space-between);
    padding-top: calcRem(50px);
    // margin: 0 auto;
    // padding: calcRem(50px) calcRem(50px) 0 calcRem(50px);

    // - nav__logo
    &__logo {
      a {
        display: block;
      }
    }

    // - nav__menu
    &__menu {
      @include flex(row);

      &__item {
        @include fontSize(16px);
        @include font-cormorant(700);

        a {
          color: $black;
          transition: text-decoration 0.1s ease;
          &:hover {
            text-decoration-line: line-through;
            text-decoration-color: $brand-red;
          }
        }

        &-about {
          @include margin(30px, left);
          @include margin(30px, right);
        }
      }
    }

    // - nav-active
    // ** TODO: uncomment after coming soon launch **
    // &-active {
    //   text-decoration-line: line-through;
    //   text-decoration-color: $brand-red;
    // }
  }
}
