.header {
  /* -- Navigation -- */
  .nav {
    @include flex(row, space-between);
    // @include padding(50px, vh, 50px);
    // padding: calcRem(50px) calcRem(50px) 0 calcRem(50px);
    padding-top: calcRem(50px);

    // - nav__logo
    &__logo {
      a {
        display: block;
        // width: 300px;
        // height: 83px;
        // background-color: sandybrown;
      }
    }

    // - nav__menu
    &__menu {
      @include flex(row);

      &__item {
        @include fontSize(16px);
        @include font-perpetua(bold);
        -webkit-text-stroke: 0.25px black;

        a {
          color: $black;
          transition: text-decoration 0.1s ease;
          &:hover {
            text-decoration-line: line-through;
            text-decoration-color: $brand-red;
          }
        }

        &-about {
          @include margin(30px, left);
          @include margin(30px, right);
        }
      }
    }

    // - nav-active
    // ** TODO: after coming soon launch **
    // &-active {
    //   text-decoration-line: line-through;
    //   text-decoration-color: $brand-red;
    // }
  }
}
