.home {
  position: relative;
  height: 100%;

  &__blurry-image {
    @for $i from 1 through 8 {
      &-#{$i} {
        position: absolute;
      }
    }
    &-1 {
      left: 36%;
      bottom: 8%;
    }
    &-2 {
      right: 0;
      top: 25%;
    }
    &-3 {
      left: 10%;
      top: -13%;
    }
    &-4 {
      left: 43%;
      bottom: 7%;
    }
    &-5 {
      right: 7%;
      bottom: 20%;
    }
    &-6 {
      right: 0;
      bottom: 27%;
    }
    &-7 {
      left: 0;
      bottom: 30%;
    }
    &-8 {
      left: 36%;
      bottom: 25%;
    }
  }

  .coming-soon {
    position: absolute;
    left: 50%;
    bottom: 24%;
    transform: translate(-50%, -50%);
    h1 {
      text-align: center;
      color: $black;
      font-size: calcRem(64px);
      @include font-cormorant(600);
      letter-spacing: calcRem(1px);
    }
  }
}
