.about {
  position: relative;
  height: 100%;

  &__intro-section {
    max-width: calcRem(723px);
    margin: calcRem(100px) 0 calcRem(68px) calcRem(200px);
    // This is specifically for a small height viewport
    @media only screen and (min-width: 1024px) and (max-height: 800px) {
      margin: 0;
      position: absolute;
      right: calcRem(200px);
      bottom: calcRem(410px);
    }
    h2 {
      @include font-cormorant(500);
      font-size: calcRem(36px);
    }
  }

  &__description-section {
    @include flex(row, flex-end, flex-start);
    // This is specifically for a small height viewport
    @media only screen and (min-width: 1024px) and (max-height: 800px) {
      margin: 0;
      position: absolute;
      right: 0;
      bottom: calcRem(0px);
    }

    &__image {
      width: 100%;
      max-width: calcRem(300px);
    }
    &__description {
      max-width: calcRem(446px);
      height: calcRem(400px);
      margin-right: calcRem(75px);
      padding: calcRem(10px) 0 calcRem(60px) calcRem(40px);
      @media only screen and (min-width: 1024px) and (max-height: 800px) {
        margin-right: 0;
      }

      &__scroll {
        height: 100%;
        overflow-y: auto;
        padding-right: calcRem(30px);
        &::-webkit-scrollbar {
          width: calcRem(2px);
        }
        &::-webkit-scrollbar-thumb {
          background-color: $brand-red;
        }

        p {
          @include font-cormorant(500);
          font-size: calcRem(16px);
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      svg {
        margin-top: calcRem(40px);
      }
    }
  }

  &__copyright-section {
    @include flex(row, flex-start, center);
    position: absolute;
    left: calcRem(200px);
    bottom: calcRem(20px);
    @media only screen and (min-width: 1024px) and (max-height: 800px) {
      left: 0;
    }
    svg {
      max-width: calcRem(60px);
      margin-right: calcRem(12px);
    }
    &__text {
      .jinkyu {
        margin: 0 0 calcRem(3px) 0;
        font-size: calcRem(10px);
        @include font-heebo(500);
        @include lineHeight(8px, 8px);
        color: $text-copyright-gray;
        span {
          display: block;
          &:first-child {
            padding-left: calcRem(0.25px);
            margin-bottom: calcRem(1px);
          }
          &:last-child {
            padding-left: calcRem(0.25px);
            margin-top: calcRem(1px);
          }
        }
      }
      .line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $text-copyright-gray;
      }
      .holahoon {
        margin: calcRem(4px) 0 0 0;
        font-size: calcRem(8px);
        @include font-heebo(400);
        @include lineHeight(6px, 6px);
        color: $text-copyright-gray;
        a {
          color: $text-copyright-gray;
        }
      }
    }
  }
}
