.footer {
  @include flex(row, flex-end);
  position: relative;
  padding-bottom: calcRem(20px);
  @include break-point(tablet-sm-down) {
    display: none;
  }

  // - footer__contact
  &__contact {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200%;
    transform: translateX(-40%);

    &-background {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100%;
    }

    &-button {
      cursor: pointer;

      &--close {
        display: inline-block;
        position: absolute;
        bottom: 32rem;
        right: 15%;
        padding: calcRem(5px);
        img {
          display: block;
          width: 100%;
        }
      }
      &--open {
        position: absolute;
        bottom: 0;
        right: 16.8%;
        transform: translate(50%, 0);
        @include flex(row, center, flex-start);
        color: white;
        font-size: calcRem(16px);
        span {
          @include font-cormorant(600);
          color: $white;
          position: absolute;
          bottom: calcRem(15px);
          left: 0;
          transform: translate(-80%, 0);
        }
      }
    }
  }

  .blob {
    position: absolute;
    bottom: 0;
    cursor: default;
    g {
      transform: translate(50%, 62%);
      path {
        animation: blob 28s cubic-bezier(0.59, 0.23, 0.53, 0.93) infinite;
        fill: #101010;
      }
    }
  }

  // - footer__form
  &__form {
    position: absolute;
    bottom: calcRem(60px);
    right: 16%;
    width: calcRem(600px);
    z-index: 1;

    &__name {
      @include flex(column, flex-start, flex-start);
      margin-bottom: calcRem(60px);
      &__inner {
        @include flex(row, flex-start, center);
        svg {
          display: block;
          width: calcRem(150px);
        }
      }
    }

    &__email {
      @include flex(column, flex-start, flex-start);
      margin-bottom: calcRem(60px);
      &__inner {
        @include flex(row, flex-start, center);
        svg {
          display: block;
          width: calcRem(150px);
        }
      }
    }

    &__message {
      @include flex(column, flex-start, flex-start);
      margin-bottom: calcRem(60px);
      &__inner {
        @include flex(row, flex-start, flex-start);
        svg {
          display: block;
          width: calcRem(240px);
        }
      }
    }

    &__send {
      @include flex(row, flex-end, center);
      width: 100%;
      position: relative;
    }

    &__sent {
      @include flex(row, flex-end, center);
      width: 100%;
      svg {
        &:first-child {
          margin-right: calcRem(20px);
        }
        &:last-child {
          position: absolute;
          right: calcRem(5px);
        }
      }
    }

    &__error-message {
      display: none;
      &--active {
        display: block;
        margin-top: calcRem(8px);
        margin-right: calcRem(16px);
        color: $text-light-gray;
        font-size: calcRem(16px);
        font-family: monospace;
      }
    }

    label {
      font-size: calcRem(30px);
      width: 100%;
      color: $white;
    }

    input {
      margin-left: calcRem(5px);
      padding-left: calcRem(10px);
      width: 100%;
      border: none;
      background-color: transparent;
      outline: 0;
      font-size: inherit;
      color: $white;
      caret-color: $white;
      font-size: 28px;
      font-family: monospace;
    }

    textarea {
      margin-top: calcRem(10px);
      margin-left: calcRem(5px);
      padding-left: calcRem(10px);
      resize: none;
      width: 100%;
      border: none;
      background-color: transparent;
      outline: 0;
      color: $white;
      caret-color: $white;
      font-size: 28px;
      font-family: monospace;
    }

    button {
      @include flex(row, center, center);
      font-size: calcRem(50px);
      @include lineHeight(50px, 59px);
      border: none;
      background-color: transparent;
      position: relative;
      color: $white;
      cursor: pointer;
      outline: none;

      img {
        &:first-of-type {
          position: absolute;
          right: calcRem(-18px);
          bottom: calcRem(2px);
          padding-left: calcRem(10px);
        }
        &:last-of-type {
          position: absolute;
          right: calcRem(-28px);
          bottom: calcRem(3px);
        }
      }
    }
  }
}
