.home {
  position: relative;
  height: 100%;

  &__blurry-image {
    @for $i from 1 through 8 {
      &-#{$i} {
        position: absolute;
      }
    }
    &-1 {
      left: 36%;
      bottom: 8%;
    }
    &-2 {
      right: 0;
      top: 25%;
    }
    &-3 {
      left: 10%;
      top: -10%;
    }
    &-4 {
      left: 43%;
      bottom: 7%;
    }
    &-5 {
      right: 7%;
      bottom: 20%;
    }
    &-6 {
      right: 0;
      bottom: 27%;
    }
    &-7 {
      left: 0;
      bottom: 30%;
    }
    &-8 {
      left: 36%;
      bottom: 25%;
    }
  }

  .project-preview {
    @include flex(row, flex-end, flex-start);
    margin-top: calcRem(14px);

    &__image-box {
      min-width: calcRem(540px);
      height: calcRem(540px);
      &__image {
        max-width: calcRem(540px);
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease;
      }
      .project-selected {
        opacity: 1;
        transition: opacity 0.5s ease;
      }
    }

    &__content-box {
      max-width: calcRem(196px);
      margin-left: calcRem(50px);
      margin-top: calcRem(180px);

      &__button {
        @include flex(row, flex-start, center);
        margin-bottom: calcRem(30px);
        cursor: pointer;

        .button-circle {
          transform: translate(calcRem(-20px), calcRem(1px));
        }
      }
      &__description {
        @include font-cormorant(600);
        font-size: calcRem(14px);
        color: $text-dark-gray;
      }
    }
  }

  .project-lists {
    display: flex;
    position: absolute;
    bottom: calcRem(145px);
    left: calcRem(222px);

    &__red-box-container {
      margin-right: calcRem(10px);
      position: relative;

      .red-box {
        display: block;
        width: calcRem(14px);
        height: calcRem(14px);
        position: absolute;
        top: 0;
        left: calcRem(-14px);
        margin-top: calc((24px - 14px) / 2);
        background-color: $brand-red;
        transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
        cursor: default;
      }
    }

    &__wrapper {
      border-left: 1px solid $black;
      padding-left: calcRem(20px);

      &__item {
        @include font-cormorant(600);
        font-size: calcRem(14px);
        height: calcRem(24px);
        @include flex(row, flex-start, center);
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
          font-size: calcRem(20px);
        }
      }
      .project-selected {
        font-size: calcRem(20px);
        position: relative;
        cursor: pointer;
      }
    }
  }
}
