.home {
  position: relative;
  height: 100%;

  &__blurry-image {
    @for $i from 1 through 8 {
      &-#{$i} {
        position: absolute;
        @include break-point(tablet-lg-down) {
          display: none;
        }
      }
    }
    &-1 {
      left: 36%;
      bottom: 8%;
    }
    &-2 {
      right: 0;
      top: 25%;
    }
    &-3 {
      left: 10%;
      top: -10%;
    }
    &-4 {
      left: 43%;
      bottom: 7%;
    }
    &-5 {
      right: 7%;
      bottom: 20%;
    }
    &-6 {
      right: 0;
      bottom: 27%;
    }
    &-7 {
      left: 0;
      bottom: 30%;
    }
    &-8 {
      left: 36%;
      bottom: 25%;
    }
  }

  .project-preview {
    @include flex(column, flex-end, flex-start);
    margin-top: calcRem(80px);
    @include break-point(tablet-sm-up) {
      margin-top: calcRem(100px);
      @include flex(row, flex-end, flex-start);
    }
    @include break-point(tablet-lg-up) {
      margin-top: calcRem(14px);
    }

    &__image-box {
      width: 100%;
      position: relative;
      padding: 0 calcRem(16px);
      @include flex(row, flex-end, flex-end);
      @include break-point(tablet-sm-up) {
        padding: 0;
      }
      @include break-point(tablet-lg-up) {
        padding: 0;
        min-width: calcRem(540px);
        height: calcRem(540px);
      }
      &__image {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        @include break-point(tablet-sm-up) {
          max-width: calcRem(450px);
          left: unset;
          right: 0;
        }
        @include break-point(tablet-lg-up) {
          max-width: calcRem(540px);
          left: unset;
          right: 0;
        }
      }
      .project-selected {
        opacity: 1;
        position: relative;
        visibility: visible;
      }
    }

    &__content-box {
      margin-top: calcRem(16px);
      padding: 0 calcRem(16px);
      bottom: calcRem(170px);
      height: calcRem(90px);
      @include flex(row, flex-start, flex-start);
      @include break-point(tablet-sm-up) {
        @include flex(column, flex-start, flex-start);
        width: calcRem(196px);
        height: auto;
        position: static;
        margin-left: calcRem(50px);
        margin-top: calcRem(180px);
        padding: 0;
      }

      &__button {
        margin: 0;
        @include break-point(tablet-sm-up) {
          margin-bottom: calcRem(30px);
        }
        cursor: pointer;
        > a {
          @include flex(row, flex-start, center);
        }

        .button-circle {
          transform: translate(calcRem(-20px), calcRem(1px));
        }
      }
      &__description {
        @include font-cormorant(600);
        font-size: calcRem(14px);
        color: $text-dark-gray;
        margin: 0;
        @include break-point(tablet-sm-up) {
          margin: calcRem(14px) 0;
        }
      }
    }
  }

  .project-lists {
    @include flex(row, flex-start, flex-start);
    padding: 0 calcRem(20px) 0 calcRem(30px);
    @include break-point(tablet-sm-up) {
      position: absolute;
      bottom: calcRem(100px);
      left: calcRem(50px);
    }
    @include break-point(tablet-lg-up) {
      bottom: calcRem(190px);
      left: calcRem(222px);
    }

    &__red-box-container {
      margin-right: calcRem(10px);
      position: relative;

      .red-box {
        display: block;
        width: calcRem(14px);
        height: calcRem(14px);
        position: absolute;
        top: 72px;
        left: calcRem(-14px);
        margin-top: calc((24px - 14px) / 2);
        background-color: $brand-red;
        transition: all 0.5s cubic-bezier(0, 0.55, 0.45, 1);
        cursor: default;
      }
    }

    &__wrapper {
      border-left: 1px solid $bg-black;
      padding-left: calcRem(20px);

      &__item {
        @include font-cormorant(600);
        font-size: calcRem(14px);
        height: calcRem(24px);
        @include flex(row, flex-start, center);
        color: $bg-black;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover {
          font-size: calcRem(20px);
        }
      }
      .project-selected {
        font-size: calcRem(20px);
        position: relative;
        cursor: pointer;
      }
    }
  }
}
