.works {
  position: relative;
  height: 100%;
  margin-top: calcRem(80px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  &::-webkit-scrollbar {
    display: none;
  }

  &__horizontal-box {
    @include flex(row, center, center);
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    padding-bottom: calcRem(100px);
    @include break-point(tablet-sm-up) {
      padding: 0 0 calcRem(100px);
    }
    @include break-point(tablet-lg-up) {
      padding: 0 calcRem(150px) calcRem(100px);
    }
    a {
      display: block;
      margin: calcRem(30px);
      width: calcRem(260px);
      height: calcRem(260px);
      border: 1px solid $text-gray-e;
      img {
        transition: all 0.2s ease;
        &:hover + .project-category {
          transform: translateY(0);
          opacity: 1;
        }
      }
      .project-category {
        display: block;
        margin-left: calcRem(10px);
        color: $text-dark-gray;
        @include font-heebo(400);
        font-size: calcRem(12px);
        opacity: 0;
        transform: translateY(4px);
        transition: all 0.5s ease;
      }
    }

    &__project-image {
      width: 100%;
    }
  }

  /* Project pages */
  &__project {
    max-width: calcRem(800px);
    width: 100%;
    height: 100%;
    margin: calcRem(100px) auto 0;
    padding-bottom: calcRem(100px);
    @include break-point(tablet-sm-up) {
      padding-left: calcRem(50px);
      padding-right: calcRem(50px);
      margin-top: calcRem(70px);
    }
    @include break-point(tablet-lg-up) {
      padding-left: 0;
      padding-right: 0;
    }

    &__no-scroll-box {
      max-width: calcRem(640px);
      margin: 0 auto;
      padding: 0 calcRem(5px);
      @include break-point(tablet-sm-up) {
        padding: 0;
      }
    }

    &__title {
      @include font-cormorant(400);
      font-size: calcRem(20px);
      color: $bg-black;
      @include break-point(tablet-sm-up) {
        font-size: calcRem(30px);
      }
    }

    &__back-button {
      @include flex(row, space-between, center);
      margin: calcRem(-5px) 0 calcRem(-1px);
      .line {
        width: 100%;
        height: 1px;
        background-color: $text-gray-e;
      }
      a {
        @include flex(row, center, center);
        position: relative;
        margin-left: calcRem(12px);
        &:hover > svg {
          left: 8px;
        }
        svg {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: calcRem(26px);
          height: calcRem(9px);
          transition: all 0.2s ease-in;
        }
        .button-text {
          margin-left: calcRem(38px);
          @include font-heebo(500);
          font-size: calcRem(12px);
          line-height: 1;
          color: $text-copyright-gray;
        }
      }
    }

    &__scroll-box {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE and Edge */
      padding: 0 calcRem(5px);
      @include break-point(tablet-sm-up) {
        padding: 0;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__subtitle {
      @include font-cormorant(400);
      color: $text-subtitle-gray;
      margin-bottom: calcRem(30px);
      .text {
        font-size: calcRem(14px);
        @include break-point(tablet-sm-up) {
          font-size: calcRem(16px);
        }
      }
      .year {
        font-size: calcRem(16px);
        @include break-point(tablet-sm-up) {
          font-size: calcRem(18px);
        }
      }
    }

    &__description {
      margin: 0 auto;
      @include font-cormorant(400);
      font-size: calcRem(14px);
      color: $text-dark-gray;
      @include break-point(tablet-sm-up) {
        font-size: calcRem(16px);
      }
      @include break-point(tablet-lg-up) {
        width: calcRem(640px);
      }
      p {
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__scroll {
      position: absolute;
      height: 100%;
      &__image-box {
        margin-top: calcRem(60px);
        margin-bottom: calcRem(40px);
        width: 100%;
        .image-wrapper {
          @include flex(column, center, center);
          margin-bottom: calcRem(40px);
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
