/* --- Fonts --- */

/* ---------------
  Perpetua font
--------------- */
@font-face {
  font-family: 'perpetua';
  src: url('../../assets/fonts/perpetua/PER_____.TTF') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'perpetua-bold';
  src: url('../../assets/fonts/perpetua/PERB____.TTF') format('ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'perpetua-italic';
  src: url('../../assets/fonts/perpetua/PERI____.TTF') format('ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'perpetua-bold-italic';
  src: url('../../assets/fonts/perpetua/PERBI___.TTF') format('ttf');
  font-weight: bold;
  font-style: italic;
}

$perpetua: 'perpetua';
$perpetua-bold: 'perpetua-bold';
$perpetua-italic: 'perpetua-italic';
$perpetua-bold-italic: 'perpetua-bold-italic';
