.layout-container {
  @include max-width;
  margin: 0 auto;
  padding: 0 calcRem(50px);
  position: relative;
  height: 100%;
  width: 100%;
  @include flex(column, stretch, stretch);

  /* -- Side text -- */
  .side-text {
    @include flex(row);
    @include fontSize(18px);
    @include lineHeight(18px, 21px);
    position: absolute;
    top: 55%;
    left: calcRem(20px);
    transform: translateY(-50%);
    color: $black;
    transform: rotate(270deg);
    transform-origin: left top;

    &__icon {
      img {
        display: block;
        width: 100%;
        transform: rotate(90deg);
      }
    }

    &__erugo {
      @include margin(10px, left);
      margin-bottom: calcRem(2px);
      @include font-cormorant(600);
    }
  }
}
