.layout-container {
  @include max-width;
  margin: 0 auto;
  padding: 0 calcRem(20px);
  position: relative;
  height: 100%;
  width: 100%;
  @include flex(column, stretch, stretch);
  @include break-point(tablet-sm-up) {
    padding: 0 calcRem(45px);
  }

  /* -- Side text -- */
  .side-text {
    @include lineHeight(18px, 21px);
    position: absolute;
    top: 55%;
    left: calcRem(15px);
    transform: translateY(-50%);
    transform: rotate(270deg);
    transform-origin: left top;
    @include break-point(tablet-sm-down) {
      display: none;
    }

    a {
      @include flex(row);
      color: $bg-black;
    }

    &__icon {
      svg {
        display: block;
        transform: rotate(90deg);
      }
    }

    &__erugo {
      margin-left: calcRem(10px);
      margin-bottom: calcRem(3px);
      @include font-cormorant(600);
      @include fontSize(18px);
    }
  }
}
